html, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Sedgwick Ave', cursive;
}

body {
    
    /** not sure about the background as of yet **/
    
    color: orangered;
    background-color: black;
    background-attachment: fixed;
    
    
}




.row, .row2, .row3, .row4 {
    
    margin-top: 25px;
   
}

.caption p {
    padding: 10px;
    font-size: 20px;
}




.social-media {
    display: block;
    padding-left: 160px;
    height: 160px;
    
}

.facebook {
    color: #3b5998;
}

.instagram {
    color:  Hex: #bc2a8d;
}

.pinterest {
    color: #cb2027;
}



.col-lg-12 iframe {
    height: 600px;
    border: 3px solid silver;
}